<section class="hero is-medium fondo3">

  <div class="hero-body has-text-centered">
    <h1 class="title is-2">Chart</h1>
    <div id="hero-input-group" class="field has-addons has-addons-centered">
    </div>
  </div>
</section>
</br>
</br>
<div class="hero-body">
<%= line_chart @chart_data %>

<%= link_to 'Back', calories_path , class: "button is-link button is-primary is-medium"%>
</div>