<h1>Calories#index</h1>
<p>Find me in app/views/calories/index.html.erb</p>
<%= link_to "Enter", new_user_session_path , class:"button is-primary"%>
<%= link_to 'Register', new_user_registration_path,class:"btn btn-default", class:"button is-primary" %>
<%= link_to 'Sign out', '/users/sign_out', :method => :delete, class:"button is-light" %>